<link rel="stylesheet" href="/public/index.css">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hasfy.pl - 404</title>
    <link rel="icon" sizes="192x192" href="<%= client.user.displayAvatarURL({ dynamic: true }) %>">
    <div class="collapse navbar-collapse">
      </div>
    </head>

<body>
  <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1>Wystąpił błąd w panelu!</h1>
<p>Wszystkie dane dotyczące błędu zostały przekazane do zespołu developerskiego Hasfy.pl!</p>
</body>